@font-face {
    font-family: jyx;
    src:url('../fonts/jyx.ttf') format('truetype'),
    	url('../fonts/jyx.otf') format('embedded-opentype');
}
@font-face {
    font-family: qcj;
    src:url('../fonts/qcj.ttf') format('truetype'),
    	url('../fonts/qcj.otf') format('embedded-opentype');
}